* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
  margin-top: 10em;
}

.calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.keyboard {
  display: flex;
  flex-direction: column;
}

.keyboard-operators {
  display: flex;
}

.keyboard-numbers {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.button-equals {
  grid-column: 4/5;
  grid-row: 1/5;
}

.button {
  width: 10em;
  min-height: 10em;
  height: auto;
}

.button span {
  font-size: 5em;
}

.display span {
  font-size: 10em;
}
